@import '../../../index';

.header {
  padding-top: #{$--header-padding}px;
  height: #{$--header-height}px;

  svg {
    &.cairoLogo {
      width: 175px;
    }

    &.starkNetLogo {
      width: 100px;
      height: 50px;
      margin-left: -20px;
    }
  }

  .logoContainer {
    display: flex;
    align-items: center;
    color: $--color-5;

    .starkNetTitle {
      font-size: 24px;
      font-weight: bold;
      margin-right: 10px;
      margin-left: -10px;
    }

    .separator {
      border-left: 1px solid;
      border-right: 1px solid;
      margin: 0 10px 0 5px;
      height: 30px;
    }

    .playground {
      text-transform: uppercase;
    }
  }

  .right {
    float: right;

    & button {
      margin-left: 6px;
    }
  }
}
