@import '../../../index';

input[type='range'] {
  font: $--body-font;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  &.slider {
    width: 35%;
    -webkit-appearance: none;
    height: 3px;
    border-radius: 5px;
    background: $--scrollbar-track-color;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  &.isDisabled {
    pointer-events: none;
    &::-webkit-slider-thumb {
      background: $--scrollbar-track-color;
    }

    input[type='range']:disabled {
      /* Disabled Element */
    }

    input[type='range']:disabled::-webkit-slider-runnable-track {
      /* Disabled slider-runnable-track */
    }

    input[type='range']:disabled::-moz-range-track {
      /* Disabled slider-range-track */
    }

    input[type='range']:disabled::-webkit-slider-thumb {
      /* Disabled slider-thumb */
    }

    input[type='range']:disabled::-moz-range-thumb {
      /* Disabled slider-thumb */
    }
  }

  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    -webkit-appearance: none;
    cursor: grabbing;
    background: $--color-5;
  }
}
