@import '../../../index';

.footer {
  font-size: 13px;
  height: #{$--footer-height}px;
  color: $--current-instruction-txt-color;

  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
  }
}
