$--bg-color: #171a37;
$--bg-color-editor: #343971;
$--bg-color-memory: #222652;
$--bg-color-output: #0a0e25;
$--bg-color-legend: #343971;
$--txt-color: #151939;
$--txt-color-light: #afb2dd;
$--color-1: #7c87ff;
$--color-1-hover: #9ba3ff;
$--color-1-active: #6b75e3;
$--color-2: #474d84;
$--color-2-hover: #686fb1;
$--color-2-active: #313664;
$--color-3: #b4b8e3;
$--color-3-hover: #d5d8ff;
$--color-3-active: #8e94d0;
$--color-4: #f8f3e5;
$--color-4-hover: #fffdf8;
$--color-4-active: #eee6cf;
$--color-5: #fe4a49;
$--color-5-hover: #fd6867;
$--color-5-active: #b73534;
$--button-disabled-color: #2f3267;
$--box-focus-border-color: #535883;
$--memory-rows-bg-color: #181a37;
$--current-instruction-color: #6571ef;
$--current-instruction-txt-color: #f9f9f3;
$--var-pc-color: #6370ed;
$--var-fp-color: #3741af;
$--var-ap-color: #636aa0;
$--scrollbar-track-color: #474e84;
$--scrollbar-thumb-color: #7e83b8;
$--editor-line-number-color: #449;
$--editor-comment-color: #329b54;
$--editor-hints-color: #d5d8ff;
$--editor-hint-color: #28286e;
$--editor-hint-active-bg-color: #6b75e3;
$--editor-hint-active-color: #fafaf5;
$--editor-code-bg-color: #232752;
$--color-orange-soda: #f6643c;
$--color-white: #fff;
$--color-dark-blue-gray: #65668c;
$--color-indigo: #292c6c;
$--color-light-steel-blue: #b3b8db;

:export {
  color1: $--color-1;
  color1Hover: $--color-1-hover;
  txtColorLight: $--txt-color-light;
  color2: $--color-2;
  color2Hover: $--color-2-hover;
  color3: $--color-3;
  color1Active: $--color-1-active;
  bgColor: $--bg-color;
  color5: $--color-5;
  color5Hover: $--color-5-hover;
  color3Hover: $--color-3-hover;
  color4Hover: $--color-4-hover;
  colorOrangeSoda: $--color-orange-soda;
  colorWhiteOp10: rgba($--color-white, 0.1);
  colorWhite: $--color-white;
  colorDarkBlueGray: $--color-dark-blue-gray;
}
