$--h1-font: normal 21px 'IBM Plex';
$--h2-font: bold 16px 'IBM Plex';
$--h3-font: normal 16px 'IBM Plex';
$--body-font: 'IBM Plex';
$--caption-font: normal 13px 'IBM Plex';
$--button1-font: normal 16px 'IBM Plex';
$--button2-font: medium 13px 'IBM Plex';
