@import '../../../../index';

.watchConsole {
  height: calc(100% - 40px);
  width: 100%;
  overflow: auto;
  max-height: calc(100% - 60px);
  font-size: 16px;

  .container {
    border-radius: 5px;
    margin-left: 100px;
    background-color: $--memory-rows-bg-color;
    width: calc(100% - 120px);
    color: $--color-4;
    padding: 10px 0;
    min-height: 100%;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
