@import '../../../index';

.button {
  position: relative;
  font: $--button1-font;
  -webkit-appearance: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  text-align: center;
  padding: 0 20px;
  margin: 3px;
  transition: 0.3s;
  text-transform: capitalize;

  &.isDisabled {
    color: $--button-disabled-color !important;
    border: 2px solid;
    background-color: transparent !important;
    pointer-events: none;

    svg {
      opacity: 0.2;
    }
  }

  &.isBig {
    height: 46px;

    svg {
      width: 16px;
      margin-right: 10px;
    }
  }

  &.isDropdown {
    svg {
      margin-left: 10px;
    }
  }
}
