@import '../../../index';

.dropdownMenu {
  z-index: 99;
  background-color: $--color-3;
  font-weight: normal;
  color: $--button-disabled-color;
  border-top: 3px solid;
  border-radius: 10px;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 100%;
}
