@import '../../../../index';

table {
  &.watchTable {
    width: 100%;

    col {
      width: 50%;
    }

    tr {
      &.tableHeader {
        background-color: $--color-2;
        font-weight: bold;
        height: 30px;
      }

      td {
        span {
          &.tableTitle {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
