@import '../../../../index';

.traceVar {
  font-size: 13px;
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: normal;
  transition: 0.3s;
  margin-left: 5px;

  &.isClickable {
    cursor: pointer;

    &:hover {
      filter: brightness(1.3);
    }
  }
}

.pc {
  color: $--var-pc-color;
}

.ap {
  color: $--var-ap-color;
}

.fp {
  color: $--var-fp-color;
}
