@import '../../../index';

.output {
  height: 100%;
  background-color: $--bg-color-output;
  overflow: auto;
  font-size: 16px;
  padding-left: 25px;

  .text {
    font-family: monospace;
    color: $--color-4;
    margin-bottom: 5px;
    position: relative;
    left: 20px;
    max-width: calc(100% - 30px);

    hr {
      margin: 15px 0;
    }

    &.isError {
      color: $--color-5;
    }
  }
}
