@import '../../../index';

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $--bg-color;
  height: #{$--navbar-height}px;
  border-top: #{$--navbar-border-height}px solid
    $--box-focus-border-color;
}
