@import '../../../index';

.editor {
  height: 100%;
  background-color: $--bg-color-editor;
  color: $--color-4;
  overflow: hidden;
  border: 2px solid $--box-focus-border-color;

  .wrapper {
    background-color: $--editor-code-bg-color;
    border-radius: 5px;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
  }
}
