@import '../../../index';

.box {
  padding: 15px;
  height: 100%;

  .title {
    font: $--caption-font;
    color: $--txt-color-light;
    text-transform: capitalize;
    margin: 0 5px 15px 5px;
  }
}
